<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt eius nesciunt voluptatibus id nisi est possimus minima beatae inventore odio soluta, quos ullam saepe rerum architecto, neque aspernatur maxime assumenda! Earum id laudantium deserunt
        amet? Consectetur natus, totam quasi, veritatis magnam aliquid ullam autem ducimus architecto quod ad nihil quae magni rem sint earum odio! Sapiente molestias cum quo quaerat. Ex blanditiis, expedita accusantium eum debitis dignissimos a facere
        consequatur autem aperiam, quaerat nostrum odit, aut dolore et ratione adipisci enim voluptate repellat obcaecati? Labore dicta asperiores id harum facere?</p>
</article>